 @import url('https://fonts.bunny.net/family/abhaya-libre');

 body{
    font-family:'Roboto', sans-serif;

 }
 *{ /*it is universal selector */
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
#wrap{
    height:100vh;
    overflow-x: hidden;
    overflow-y:auto;
}
.container{
    height:100%;
    max-width: 1200px;
    /* assign margin for placing container at center */
    margin:0 auto; 
    padding:20px;
}
.container h1{
    margin:20px 0;
    text-align:center;
    margin-bottom: 20px;
    font-size:3rem;
}
.gallery{
    display:flex;
    /* wrap for adjusting 
    without it , all block at one row */
    flex-wrap:wrap;
    justify-content: space-between;
}
.card{
    width:32%;
    position:relative;
    margin-bottom:20px;
    border-radius:20px;
    overflow:hidden;
}
.card img{
    width:100%;
    filter:grayscale(100%);
    box-shadow:0 0 20px #333;
    /* img overlap with figcaption */
    height:100%;
    object-fit: cover;
}
.card:hover{
    transform:scale(1.03);
    transition: 0.3s;
    filter:drop-shadow(0 0 10px #333);
    /* box-shadow: 0 0 10px #333; */
}
.card img:hover{
    /* jo maine figure tag mai filter lagaya uska uno-reverse */
    filter:grayscale(0%);
}
.card figcaption{
    position:absolute;
    bottom:0;
    left:0;
    padding:25px;
    width:100%;
    height:25%;
    font-size:16px;
    font-weight:500;
    color:#ffff;
    /* hidden the figcaption by opacity */
    opacity: 0;
    border-radius:0 0 10px 10px;
    background:linear-gradient(0deg,rgba(0,0,0,0.5)0%,rgb(225,225,225,0)100%);
    transition:0.3s;
}
.card:hover figcaption{
    opacity: 1;
    transform:scale(1);
}